.Container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px 0 16px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 760px) {
    display: flex;
    width: 760px;
  }

  @media screen and (min-width: 960px) {
    position: relative;
    width: 960px;
    margin-left: 0%;
  }

  @media screen and (min-width: 1200px) {
    position: relative;
    width: 1200px;
    margin-left: 0%;
  }

  @media screen and (min-width: 1440px) {
    position: relative;
    width: 1440px;
    margin-left: 0%;
  }
  @media screen and (min-width: 1600px) {
    position: relative;
    width: 1600px;
    margin-left: 0%;
  }
}
